
body {
  margin: 0;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f4f0;
  color: #444;
}
nav a {
  margin: 10px;
  text-decoration: none;
  color: #836096;
  font-weight: bold;
}
.main-message {
  font-size: 24px;
  text-align: center;
  margin-top: 20%;
}
.preloader {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}
pre {
  white-space: pre-wrap;
  line-height: 1.5;
}
